<style>
    .sidebtn{
        color: black;
    }
    .sidebtn:hover{
        color: blanchedalmond;
    }
</style>
<div class="fixed-action-btn">
    <a href="/stories/add" style="border-radius: 10px;" class="waves-effect waves-light btn sidebtn"><i class="fa fa-plus"></i> Add Your Story </a>
</div>