<style>
 
    .page-footer{
    background: rgba(0,0,0,0.4);
    bottom: 0%;
    margin-top: 40px;
    }
  .myp{
    background: red;
    padding: 10px;
    border-radius: 10px;
    right: 100%;
  }
  .myp:hover{
    transform: scale(1.03);
    background-color: black;
  }
</style>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"><i class="fas fa-user"></i> About Me</h5>
                <p class="grey-text text-lighten-4">
                  Hi! I am Shivansh Joshi,currently persuing BTech from IIIT Sonepat<br>
                  For more info about me you can click on MY PORTFOLIO icon
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Media Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/shivansh-joshi-360071208?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BI6gXAd%2FbQFmq90kcRKqrCQ%3D%3D" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/shivansh-joshi-360071208/" target="_blank"><i class="fab fa-linkedin-in"></i> Linkeden</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/sniperzee2" target="_blank"><i class="fab fa-github"></i> Github</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2021 Copyright || Shivansh Joshi
            <a class="grey-text text-lighten-4 right myp" href="https://sniperzee2.github.io" target="_blank"><i class="fas fa-user"></i> My Portfolio</a>
            </div>
          </div>
        </footer>