<style>
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('/css/reviewback.jpg');
  }

  .container {
    flex: 1 0 auto;
  }
  :root{
    --maincolor:#7bd1f3;
  }
  
  html::-webkit-scrollbar{
    width:1rem;
  }
  
  html::-webkit-scrollbar-track{
    background:#080708;
  }
  
  html::-webkit-scrollbar-thumb{
    background:var(--maincolor);
  }
</style>

<h1 class="story center-align">Reviews</h1>

<div class="row">
    {{#each reviews}}
        <div class="container">
        <ul class="collapsible popout">
            <li class="active">
                <div class="collapsible-header" style="background-image: url('/css/reviewcard.jpg');">
                <i class="fas fa-user-tie"></i>
                    <div class="chip">
                        <img src="{{user.image}}" alt="">
                         {{stripTags (truncate user.displayName 14)}} 
                    </div>
                    </div>
                <div class="collapsible-body" style="background-color:rgba(150, 145, 145,0.8);color:white;">{{review}}</div>
            </li>
        </ul>
        </div>
    {{else}}
        <h4>No Reviews Yet.......</h4>
        <h1><i class="far fa-sad-tear"></i></h1>
    {{/each}}
</div>
<script>
           document.addEventListener('DOMContentLoaded', function() {
                    var collapse = document.querySelectorAll('.collapsible');
                     M.Collapsible.init(collapse);
                });
</script>