<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Padauk&display=swap" rel="stylesheet">
<style>
    .aboutapp{
        
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h6{
        font-size: 2rem;
    }
    .facility{
        padding: 10px;
    }
    p{
        font-size: 1.2rem;
    }
    h5{
        font-family: 'Padauk', sans-serif;
    }
    h1,h3{
        font-family: 'Mate SC', serif;
        font-weight: bold;
    }
    body{
        background: url('/css/editback.png');
    }
    
:root{
    --maincolor:#7bd1f3;
  }
  
  html::-webkit-scrollbar{
    width:1rem;
  }
  
  html::-webkit-scrollbar-track{
    background:#080708;
  }
  
  html::-webkit-scrollbar-thumb{
    background:var(--maincolor);
  }
</style>

<div class="aboutapp center-align">
    <h1 >About The App</h1>
    <h6>This app provides you with the perfect platform to create and share your stories with others and also to read the public stories of other users.</h6>
</div>
    <div class="facility">
    <h3 >Facilities</h3>
    <h5>1- You can create a story using <a href="/stories/add" style="border-radius: 10px;" class="waves-effect waves-light btn sidebtn"><i class="fa fa-plus"></i> </a> button present at the right bottom corner.</h5>
    <h5>2- You can browse through the public stories of other users by simply visiting the <a href="/stories" style="border-radius: 10px;" class="waves-effect waves-light btn sidebtn">PUBLIC STORIES</a> page</h5>
    
        <h5>3- You can add any story to this app by visiting the <a href="/stories/add" style="border-radius: 10px;" class="waves-effect waves-light btn sidebtn">ADD STORY </a> page and select any mode namely PUBLIC and PRIVATE </h5><br>
    <p>
        i) PUBLIC - These story would be diplayed in the <a href="/stories" style="border-radius: 10px;" class="waves-effect waves-light btn sidebtn">PUBLIC STORIES</a> section and visibile to all the registered users(read mode only) <br><br>
        ii) PRIVATE - These stories would be stored in your <a href="/dashboard" style="border-radius: 10px;" class="waves-effect waves-light btn sidebtn">DASHBOARD</a> and would not be visible to any other user.
    </p> <p>
        <h5>
            4- You can edit or delete any of your story by going to the DASHBOARD and simply clicking on the EDIT or DELETE button repectively
        </h5>
    <h5>5- For all the above features and a few more you can toggle through the menu by clicking on <i class="fas fa-bars"></i> icon present in the left top corner</h5>
</div>