*{
    margin: 0%;
    padding: 0%;
}
.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

p{
    margin: 10px 0 !important;
}

.fa-small{
    font-size: 15px !important;
}

.btn-float{
    float: left;
    margin-right: 10px;
}
